%h3= _('Upload Subscription Manifest')
= form_tag imports_path, :multipart => true do
  %fieldset
    = label_tag :upload, "Specify Local Manifest"
    = file_field_tag :contents
    = submit_tag "Upload"

