%h3= _('Current Subscriptions')
- if @subscriptions.nil? || @subscriptions.empty?
  %p= _('No Subscriptions Available')
- else
  %table
    %thead
      %th= _('Product')
      %th= _('Quantity')
      %th= _('Contract')
      %th= _('Support Level')
      %th= _('Arch')      
      %th= _('Begins')
      %th= _('Expires')            
    - @subscriptions.each do |sub|
      %tr{:class => cycle(nil, 'alt')}
        %td= sub.productName
        %td
          = sub.consumed
          = "/"
          = sub.quantity
        %td=sub.contractNumber
        %td=sub.product.support_level
        %td=sub.product.arch        
        %td=l sub.startDate
        %td=l sub.endDate