#orgs
  #orgs.grid_3.actionsidebar
    %dl
      %dt #{_("Organizations")}
    %dd.add
      %span
      = link_to _("New Organization"), :action => "new", :controller => "organizations"

  .grid_13#main
    %h2 #{_("Organizations")}

    %ul
      -for org in @organizations
        %li{:class => cycle(nil, 'alt')}
          %span{:alt => "#{org.id}", :title => "#{org.id}"}
            = link_to "#{org.displayName}", admin_organization_path(org)
            = link_to "(use)", :action => "use", :controller => "admin/organizations", :id => "#{org.key}"

