%h1 #{_("Create Organization")}
= form_for [:admin, @organization] do |f|
  .grid_16
    %fieldset.clearfix
      %b
        %label.grid_5 #{_("Label")}:
      .grid_7
        = f.text_field :key, :class=>'grid_6'
    %fieldset.clearfix
      %b
        %label.grid_5 #{_("Name")}:
      .grid_7
        = f.text_field :displayName, :class=>'grid_6'
  .grid_12
    = f.submit "#{_('Create')}", :class => "submit dialogbutton", :style=>"float:right;"
    %button.formbutton{:disabled => true, :style=>"float:right;"} #{_("Reset")}
