#orgs.grid_3.actionsidebar
  %dl
    %dt #{_("Actions")}
    %dd.build
      %span
      = link_to _("Use"), :action => "use", :controller => "admin/organizations", :id => "#{@organization.key}"
    %dd.edit
      %span
      = link_to _("Edit"), :action => "edit", :controller => "organizations", :id =>@organization.key
    %dd.delete
      %span
      = link_to _("Delete"), { :controller => "organizations", :action => "destroy" }, :confirm => _('Are you sure?'), :method => :delete, :id =>@organization.key
    
    
.grid_13#main
  %h2
    = @organization.key
  %p
    #{_('Name')}:
    = @organization.displayName
  %p
    #{_('Systems')}:
    = "#{@organization.system_count}"
  %p
    #{_('Subscriptions Used')}:
    = "#{@organization.subscriptions_summary[:used]} / #{@organization.subscriptions_summary[:available]}"

