.grid_8
  %h2 
    = @system.name
#systems
  .grid_8
    %nav.subnav
      = render_navigation(:expand_all => true, :level => 3)
  .grid_8#available_subscriptions        
    %table
      %thead
        %th Product
        %th Available
        %th Contract 
        %th Expires
        %th Actions
      - @subscriptions.each do |sub|
        %tr{:class => cycle(nil, 'alt')}
          %td
            = sub.productName
          %td
            = sub.quantity.to_i - sub.consumed.to_i
          %td
            = sub.contractNumber
          %td
            = l Date.parse(sub.endDate)
          %td
            = form_tag subscriptions_system_path(@system.uuid), :class => "panelform" do
              = hidden_field_tag("pool_id", sub.id)
              .actions
                = submit_tag _("Subscribe")

