= include_javascripts :edit

= content_for :title do
  = @system.name
  
= content_for :navigation do
  = render_navigation(:expand_all => true, :level => 3) 
  
= content_for :remove_item do
  = remove_link(_("Remove #{@system.name}"), :systems)
  
= content_for :content do 
  #systems
    .grid_8#system
      %fieldset
        .grid_1.ra
          %label{:for => 'system_name'}
            = "#{_('Name')}:"    
        .grid_6.la.editable.edit_textfield{'name' => 'system[name]',
                                           'url' => system_path(@system.uuid)} #{@system.name}
                                           
        .grid_1.ra
          %label{:for => 'system_uuid'}
            = "#{_('UUID')}:"    
        .grid_6.la 
          = @system.uuid
        
        .grid_1.ra
          %label{:for => 'system_org'}
            = "#{_('Org')}:"    
        .grid_6.la 
          = link_to @organization.displayName, admin_organization_path(@organization.id)      
                                                     
        .grid_1.ra
          %label{:for => 'system_org'}
            = "#{_('Type')}:"    
        .grid_6.la 
          = @system.type
          
        .grid_1.ra
          %label{:for => 'system_status'}
            = "#{_('Status')}:"    
        .grid_6.la 
          = @system.entitlement_status  
                  
        .grid_1.ra
          %label{:for => 'system_registered'}
            = "#{_('Status')}:"    
        .grid_6.la 
          = l @system.created, :format => :long
             
        .grid_1.ra
          %label{:for => 'system_checkin'}
            = "#{_('Status')}:"    
        .grid_6.la 
          = l(Date.parse(@system.lastCheckin), :format => :long) if !@system.lastCheckin.nil?
            
        .grid_1.ra
          %label{:for => 'system_user'}
            = "#{_('Registered By')}:"    
        .grid_6.la 
          = @system.username  

