.grid_8
  %h2 
    = @system.name
#systems
  .grid_8
    %nav.subnav
      = render_navigation(:expand_all => true, :level => 3)
  .grid_8#facts          
    %table
      %thead
        %th= _("Fact")
        %th= _("Value")
      - @system.facts.attributes.sort.each do |fact, value|
        %tr{:class => cycle(nil, 'alt')}
          %td= fact
          %td= value

