.grid_8
  %h2 
    = @system.name
#systems
  .grid_8
    %nav.subnav
      = render_navigation(:expand_all => true, :level => 3)
  .grid_8#subscriptions      
    %table
      %thead
        %th Product
        %th Contract Number
        %th Expires
        %th Actions
      - @entitlements.each do |ent|
        %tr{:class => cycle(nil, 'alt')}
          %td
            = Subscription.find(ent.pool.id).productName
          %td
            = ent.contractNumber
          %td
            = l Date.parse(ent.endDate)
          %td.navigation_element
            = link_to _("Remove"), {:controller => "systems", :action => "unbind", :entitlement_id => ent.id}, :confirm => _('Are you sure?')
