#systems
  #systems.grid_3.actionsidebar
    %dl
      %dt #{_("Systems")}
    %dd.add
      %span

  .grid_13#main
    %h2 #{_("Systems")}

    %ul
      -for system in @systems
        %li{:class => cycle(nil, 'alt')}
          %span{:alt => "#{system.id}", :title => "#{system.id}"}
            = link_to "#{system.name}", system

