#systems
  #systems.grid_3.actionsidebar
    %dl
      %dt #{_("Systems")}
    %dd.add
      %span

  .grid_13#main
    %h2 #{_("Systems")}

    %table
      %thead
        %th= _("Name")
        %th= _("Subscriptions")
        %th= _("Subscription Status")
        %th= _("Last Check-In")
      - @systems.each do |sys|
        %tr{:class => cycle(nil, 'alt')}
          %td
            %span{:alt => "#{sys.name}", :title => "#{sys.name}"}
              = link_to "#{sys.name}", system_path(sys.uuid)
          %td= sys.entitlementCount
          %td= entitlement_status(sys)
          %td= l(Date.parse(sys.lastCheckin), :format => :long) if !sys.lastCheckin.nil?

