#systems.grid_3.actionsidebar
  %dl
    %dt #{_("Actions")}
  %dd.edit
    -#%span
      -#= link_to _("Edit"), :action => "edit", :controller => "organizations", :id =>@organization['key']
  %dd.delete
    %span
      = link_to _("Delete"), { :controller => "systems", :action => "destroy" }, :confirm => _('Are you sure?'), :method => :delete, :id =>@system.uuid
    
    
.grid_13#main
  %h2
    = @system.name
  %p
    #{_("UUID")}:
    = @system.uuid

  %p
    #{_("Organization")}:
    = link_to @organization.displayName, admin_organization_path(@organization.id)

  %p
    #{_("Type")}:
    = @system.type

  %p
    #{_("Subscription Status")}:
    = entitlement_status(@system)

  %p
    #{_("Registered")}:
    = l Date.parse(@system.created), :format => :long

  %p
    #{_("Last Checkin")}:
    = l(Date.parse(@system.lastCheckin), :format => :long) if !@system.lastCheckin.nil?

  %p
    #{_("Registered By")}:
    = @system.username

  %p
    #{_("Facts")}:

  %table
    %thead
      %th= _("Fact")
      %th= _("Value")
    - @system.facts.attributes.sort.each do |fact, value|
      %tr{:class => cycle(nil, 'alt')}
        %td= fact
        %td= value

