#systems.grid_3.actionsidebar
  %dl
    %dt #{_("Actions")}
  %dd.edit
    -#%span
      -#= link_to _("Edit"), :action => "edit", :controller => "organizations", :id =>@organization['key']
  %dd.delete
    %span
      = link_to _("Delete"), { :controller => "systems", :action => "destroy" }, :confirm => _('Are you sure?'), :method => :delete, :id =>@consumer['uuid']
    
    
.grid_13#main
  %h2
    = @consumer['name']
  %p
    #{_("UUID")}:
    = @consumer['uuid']

  %p
    #{_("Organization")}:
    = link_to @owner.name, organization_path(@owner.key)
  %p
    #{_("Type")}:
    = @consumer['type']['label']

  %p
    #{_("Registered")}:
    = l Date.parse(@consumer['created']), :format => :long

  %p
    #{_("Last Checkin")}:
    = l Date.parse(@consumer['lastCheckin']), :format => :long

  %p
    #{_("Registered By")}:
    = @consumer['username']

  %p
    #{_("Facts")}:

  %table
    %thead
      %th= _("Fact")
      %th= _("Value")
    - @consumer['facts'].sort.each do |fact, value|
      %tr{:class => cycle(nil, 'alt')}
        %td= fact
        %td= value

