
%h2
  = @consumer['name']

%h3 Current Subscriptions
#providers
  .grid_13#provider
    %table
      %thead
        %th Product
        %th Contract Number
        %th Expires
        %th Actions
      - @entitlements.each do |ent|
        %tr{:class => cycle(nil, 'alt')}
          %td
            = @cp.get_pool(ent['pool']['id'])['productName']
          %td
            = ent["contractNumber"]
          %td
            = l Date.parse(ent["endDate"])
          %td
            = link_to _("Remove"), {:controller => "systems", :action => "unbind", :entitlement_id => ent['id']}, :confirm => _('Are you sure?')
