#orgs.grid_3.actionsidebar
  %dl
    %dt #{_("Actions")}
  %dd.delete
    %span
    = link_to _("Delete"), { :controller => "organizations", :action => "destroy" }, :confirm => _('Are you sure?'), :method => :delete, :id =>@organization.key


.grid_13#main
  %h2
    = @organization.key
  = form_for @organization, 
             :url => { :action => 'update' }, 
             :html => { :method => 'put' } do |f|
    .grid_16
      %fieldset.clearfix
        = if @organization.errors.any?
          %ul.errors
            = @organization.errors.full_messages.each do |error|
              %li= error
        %b
          %label.grid_5 #{_("Name")}:
        .grid_7
          = f.hidden_field :id
          = f.hidden_field :key
          = f.text_field :displayName, :class=>'grid_6'
    .grid_12
      = f.submit "#{_("Update")}", :class => "submit dialogbutton", :style=>"float:right;"
