#orgs
  #orgs.grid_3.actionsidebar
    %dl
      %dt #{_("Organizations")}
    %dd.add
      %span
      = link_to _("New Organization"), :action => "new", :controller => "organizations"

  .grid_13#main
    %h2 #{_("Organizations")}

    %ul
      -for org in @organizations
        %li{:class => cycle(nil, 'alt')}
          %span{:alt => "#{org['key']}", :title => "#{org['key']}"}
            = link_to "#{org['displayName']}", :action => "show", :controller => "organizations", :id => "#{org['key']}"
            = link_to "(use)", :action => "use", :controller => "organizations", :id => "#{org['key']}"

