
%h3 Manage Subscriptions
#providers
  .grid_13#provider
    %h4 Current Subscriptions
    %table
      %thead
        %th Product
        %th Consumed Subscriptions
        %th Quantity Available
      - @subscriptions.each do |sub|
        %tr{:class => cycle(nil, 'alt')}
          %td
            = sub.productName
          %td
            = sub.consumed
          %td
            = sub.quantity
    %h4 Recent Imports
    %table
      %thead
        %th Message
        %th Status
        %th Import Time
      - @imports.each do |import|
        %tr{:class => cycle(nil, 'alt')}
          %td
            = import.statusMessage
          %td
            = import.status
          %td
            = relative_time_in_words import.timestamp

    %h4 Upload Subscription Manifest
    = form_tag "/organizations/#{@organization.key}/subscriptions", :multipart => true do
      %fieldset
        = label_tag :upload, "Specify Local Manifest"
        = file_field_tag :contents
        .actions
          = submit_tag "Upload"
-#    = form_for @organization, :html => {:multipart => true, :method => :post}, :url => subscriptions_organization_path do |f|


  
