#systems
  #systems.grid_3.actionsidebar
    %dl
      %dt #{_("Systems")}
    %dd.add
      %span

  .grid_13#main
    %h2 #{_("Systems")}

    %ul
      -for sys in @systems
        %li{:class => cycle(nil, 'alt')}
          %span{:alt => "#{sys.uuid}", :title => "#{sys.uuid}"}
            = link_to "#{sys.name}", sys
