#systems
  #systems.grid_3.actionsidebar
    %dl
      %dt #{_("Systems")}
    %dd.add
      %span
      -#= link_to _("New Organization"), :action => "new", :controller => "organizations"

  .grid_13#main
    %h2 #{_("Systems")}

    %ul
      -for consumer in @consumers
        %li{:class => cycle(nil, 'alt')}
          %span{:alt => "#{consumer['uuid']}", :title => "#{consumer['uuid']}"}
            = link_to "#{consumer['name']}", :action => "show", :controller => "systems", :id => "#{consumer['uuid']}"
