= include_javascripts :password
= include_javascripts :user_edit

= content_for :title do
  = _("Edit User")
  
= content_for :remove_item do
  = remove_link(_("Remove User"), :users)
 
= content_for :content do 
  #users
    .grid_8
      %fieldset
        .grid_2.ra
          = label :name, _("Username")
        .grid_5.la 
          #{@user.username}
      %fieldset 
        .grid_2.ra
          = label :user, :password, _("Change Password")
        .grid_5.la
          = text_field :user, :password, :id=>"password_field", :value=>"", :type=>"password"
      .grid_6.la.prefix_2
        #password_meter           
      %fieldset
        .grid_2.ra
          = label :user, :username, _("Confirm")
        .grid_5.la
          = text_field :user, :username, :id=>"confirm_field", :value=>"", :type=>"password"
      .grid_6.la.prefix_2
        #save_password.verify_password.button{'data-url'=>admin_user_path(@user.username)}
          #{_("Save")}
      .grid_6.la.prefix_2
        #password_conflict 
