= include_javascripts :edit

.grid_8
  %h2= @user.username
#users
  .grid_8
    %fieldset
      .grid_1.ra
        %label{:for => 'user_username'}
          %b= "#{_('Username')}:"
      .grid_6.la.editable.edit_textfield{'name' => 'user[username]',
                                         'url' => admin_user_path(@user.username)} #{@user.username}

  = link_to _("Remove User"), { :controller => "users", :action => "destroy" }, :confirm => _('Are you sure?'), :method => :delete, :class=>"remove_item"
