= include_javascripts :panel
#container
  .right
    %h4
      #{_("Click New to create a new")} #{name}
    %br
    %br
    %h4
    #{_('Select Result')}:
    %br
    #select-result
  #panel-frame
    #panel
      .head
        %a.close{:href => "#"} #{_("Close")}
      .data
        #spinner
          = image_tag ("spinner.gif")
        #panel-content
        %br.clear

  .left
    %h2.fl #{title}
    %a.fr{:href => "#", :id => "new", :class => "block", :onclick =>"$(this).addClass('active'); return false;", "data-ajax_url" => url_for(:action=> 'new')} 
      #{_('+ New ')} #{create}
    %br.clear      
    #list
      - for item in collection
        .block{:id => item.send(accessor), "data-ajax_url" => url_for(:action=> 'edit', :id => item.send(accessor))}
          - for col in columns 
            %div{:class => 'column_' + columns.length.to_s} 
              = item.send(col)
          .arrow-right
