= include_javascripts :panel, :fancyqueries
= include_stylesheets :fancyqueries
#container
  .right
    - if enable_create
      %h4
        #{_("Click New to create a new")} #{name}
    %br
    %br
    %h4
    #{_('Select Result')}:
    %br
    #select-result
  #panel-frame
    #panel.panel.closed
      .head
        %a.close{:href => "#", "data-close"=>"panel"} #{_("Close")}
      .data
        .spinner
          = image_tag ("spinner.gif")
        .panel-content
        %br.clear
  #subpanel-frame
    #subpanel.panel.subpanel.closed
      .head
        %a.close{:href => "#", "data-close"=>"subpanel"} #{_("Close")}
      .data
        .spinner
          = image_tag ("spinner.gif")
        .panel-content
        %br.clear


  .left
    #list-title
      %h2.fl #{title}
      - if enable_create
        %a.fr{:href => "#", :id => "new", :class => "block", :onclick =>"$(this).addClass('active'); return false;", "data-ajax_url" => url_for(:action=> 'new')}
          #{_('+ New ')} #{create}
    %form#search_form.search{"data-url" => "/fakedata.html"}
      = auto_complete_field_tag_jquery(:search, params[:search], {:type => "text", :placeholder => "Filter..."},{ :delay => 100, :min_length => -1 })
      %button.action{:form => "search"} #{_("Search")}

    #list.clear
      .block_head.clear
        - for col in columns
          %div{:class => 'column_' + columns.length.to_s}
            = col.to_s.sub(/[_]/, " ")
      .arrow-right
      - for item in collection
        = render :partial=>"common/list_item", :locals=>{:item=>item, :accessor=>accessor, :columns=>columns}
