!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title
      Red Hat Subscription Asset Manager
      = yield :title

    = include_stylesheets  :common 
    = include_javascripts  :common
    = csrf_meta_tag
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

    / [if lt IE 9]
      = javascript_include_tag "html5.js"
      
    = yield :scripts
  - if controller.respond_to?(:section_id)
    - section_id = controller.section_id
  - else
    - section_id = "generic"
  %body{:id => controller.section_id}
    = render :partial => '/layouts/ajax_notices'
    = render :partial => '/layouts/notification'
    %div#head
      %header.container_16
        = render :partial => '/layouts/header'
    - if not current_user
      #content.container_16
        #formwindow
          = yield
    - else
      #subheader
        /
          %form#s.container_16
            .prefix_10.grid_6
              %input{ :name => "s", :type => "search", :placeholder => "Search Katello Resources"}
              %button.action{:form => "s"} #{_("Search")}
            %p.prefix_10.grid_6
              %a{ :href => "" }
                #{_("Advanced Search")}
        %nav.container_16.tab_nav
          = render_navigation(:expand_all => true, :level => 1)
        %hr
      #content
        %nav.subnav
          = render_navigation(:expand_all => true, :level => 2)      
        .inner.container_16
          = yield
    %footer
      = render :partial => "layouts/footer"
